.skills {
  background: #35353a;
}
.skills .content {
  padding: 40px 0;
}
.skills .skills-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills-details .text {
  width: 50%;
}
.skills-details p {
    color: #fff;
    text-align: justify;
    
}
.skills-details .text .topic{
  border: 2px solid red;
  padding: 10px;
  margin: 8px;
}
.zeba{
  margin-top: 100px;
}
.skills img{
  border-radius: 100%;
  width: 300px;
}
@media only screen and (max-width: 700px) {
  .skills{
    width: 100vw;
  }
  .skills-details .text .topic {
    width: 100%;
  }
  .skills-details p {
    color: #fff;
    text-align: justify;
    width: 100%;
}
  .skills img{
    width: 11rem;
  }
}